*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #4b4b4b;

        .container
        {
            max-width: 960px;
            margin: 0 auto;

            .accordion
            {
                width: 620px;
                margin: 0 auto;

                .accordion_item
                {
                    .accordion_heading
                    {
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem 2rem;
                        border-top: 1px solid #ddd;
                    }

                    .accordion_heading:hover
                    {
                        cursor: pointer;
                    }

                    .accordion_details
                    {
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.5s all ease;
                        margin-left: 2rem;

                        p
                        {
                            padding: 1.2rem 0;
                            line-height: 1.2rem;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        header
        {
            text-align: center;
            margin: 2rem;

            h1
            {
                text-transform: uppercase;
            }

            .tagline
            {
                font-size: 1.2rem;
            }
        }
    }
}